nav { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #346534;
 }
 p{
     color: darkblue;
    }
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        color: #346534;
        background-color: aquamarine;
    }
    header{
        background: #346534;
        color: white;
        padding: 1rem 2rem;
        text-align: center;
    }
    header h1{
        margin: 0;
    }
    nav{
        margin-top: 10px;}